customermailapplication/.idea
customermailapplication/out
customermailapplication/customermailapplication.iml

footshapeapplication/.idea
footshapeapplication/out
footshapeapplication/footshapeapplication.iml